:root {
    --fontsize: 22px;
    --fontStyle: "Arial";
}

#canvas {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: rgb(227, 227, 227);
    /* background: url("./images/background.png"); */
}

#warrior, #zombie, #boss, #heart, #heartDamage, #warriorBullet {
    display: none; 
}

#warriorHeart0, #warriorHeart1, #warriorHeart2, #warriorHeart3, #warriorHeart4 {
    width: 50px;
    height: 50px;
    position: relative;
    left: 0.5%;
    user-select: none;
}

#settings, #backToGame, #gamerules {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 1%;
    float: right;
    user-select: none;
    cursor: pointer;
}

#gamerules {
    bottom: 2%;
}

#timer {
    position: absolute;
    top: 0%;
    left: 50%;
    translate: -50% -50%;
    user-select: none;

    text-align: center;
    font-size: 250%;
    font-family: var(--fontStyle);
    font-weight: bold;
}

#headline {
    font-family: var(--fontStyle);
}